<% if @user.image && @user.image.url %>
    <%= image_tag @user.image.url %>
<% else %>
    <%= image_tag '/avatar.png' %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<div>
  <%# <%= link_to 'favorites', [@user, :favorites]  %> %>
</div>
<% if logged_in? %>
  <div>
    <%= link_to 'Edit', edit_user_path(@user) %>
  </div>
<% end %>
<%= link_to 'Back', users_path %>